body{
    background-color: rgb(224, 231, 224);
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
div{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}
#botao{
    cursor: pointer;
    border: none;
    width: 90px;
    left: 140px;
    position: relative;
}
h4{
    color: rgb(58, 52, 52);
}